@font-face { 
  font-family: "Lato"; 
  src: local("/CSS/Lato/Lato-Regular.ttf") format("truetype"),
};

html {
   font-size: 10px;
}
body {
  background: linear-gradient(#f69d3c, #3f87a6);
  /*background-color: rgb(175, 154, 154);*/
  color: white;
  /*font-family:Arial, Helvetica, sans-serif;*/
}


body  {
  font-size: 1.8rem;
}

h1, h2 {
  font-size: 3rem;
  color: white;
  text-shadow: 10px 5px 5px rgb(53, 49, 49);
}

h2 {
  font-size: 1.8rem;
  
}

.button {
  height: 5vh;
  width: 60vw;
  font-size: 1.2rem;
  border-radius:0.5em;
  box-shadow: 10px 5px 5px rgb(53, 49, 49);

}
/*class for player */
.back-color, .back-no-color {
  margin-left: 50px;
  background: linear-gradient(#3f87a6, #f69d3c);
  border-radius:0.5em
  
  }
  
/* ----for display or not display players to go----*/
.no-display,.display {
  width: 4vh;
  height: 4vh;
  background-color: gray;
  border-radius: 50%;
}
.display {
  background-color: green;
  
}

#scorePlayer1, #scorePlayer2, #cumulInt {
  height: 5vh;
  width: 15vw;
  margin-left: 100px;
  background-color: rgb(211, 91, 101);
  font-size: 1.1em;
  color: white;
  text-shadow: 10px 5px 5px rgb(53, 49, 49);
  text-align: center;
  border-radius:0.4em

}
#cumulInt {
  
  background-color: rgb(49, 102, 218);
}


@media screen and (min-width: 1333px) {
  body {
    font-size: 2rem;
    
  }

  h1 {
    font-size: 3rem;

 }

 h2 {
  font-size: 2rem;
 }

   #scorePlayer1, #scorePlayer2, #cumulInt, #diceValue {
    
    height: 4vh;
    width: 6vw;
    font-size: 1.3rem;
    
}
.no-display, .display {
  width: 40px;
  height: 40px;
  
}

.button {
  height: 5vh;
  width: 40vw;
  
}
}
 